.explor-menu{
    display: flex;
    flex-direction: column;
    gap:20px ;
}
.explor-menu h1 span{
    color: #262626;
    font-weight:500 ; 
    


    /* this is my style */
     background:linear-gradient(to left,#f5d837,#b3b01b) ;/*you can make a graident from any web sites we give here span tag which mean our backgruond works only the behand text of h2 not full h2 area*/
     padding: 6px 15px;
    border-radius: 20px;
   
   
   
}
.explor-menu-text{
    max-width:60%;
    columns: #808080;
}
.explor-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x:scroll ;
}
/*now we hide navigation bar at down side so css for that is */
.explor-menu-list::-webkit-scrollbar{
    display: none;
}
/*now css for the menu-list-item*/
.explore-menu-list-item img{
   width: 7.5vw;
   min-width: 80px; 
   cursor: pointer;
   border-radius: 50%;
   transition:0.2s ;
}
.explore-menu-list-item p{
    margin-top:10px;
    color:#747474 ;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explor-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color:#e2e2e2 ;
    border: none;
}
.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding:2px ;
}

/*........Media Query for Menu Responseness..........*/



@media (max-width:1050px) {
    .explor-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
    
}